.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

input {
    border-top: 0.0001px solid #ddd;
    border-right: 0.0001px solid #ddd;
    border-left: 0.0001px solid #ddd;
    border-bottom: 1px solid #000000;
    font-size: 2.5rem;
    background-color: transparent;
    text-align: center;
}

.title {
    font-size: 4.5rem;
    margin-top: -0.5rem;
}

.App {
    background-color: #00d5ff9f;
}

/* 
.App {
  background: rgb(0,212,255);
  background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
} */

li {
    background-color: aliceblue;
    margin: 1rem 40rem 1rem 40rem;
    padding: 5rem 0rem 5rem 0rem;
    text-decoration: none;
    display: inline-block;
}

span {
    margin: 1rem;
}

ul {
    text-decoration: none;
}
