@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

.App {
    text-align: center;
}

input {
    border-top: 0.0001px solid #ddd;
    border-right: 0.0001px solid #ddd;
    border-left: 0.0001px solid #ddd;
    border-bottom: 1px solid #000000;
    font-size: 2.5rem;
    background-color: transparent;
    text-align: center;
}

.title {
    font-size: 4.5rem;
    margin-top: -0.5rem;
}

.TwHeader {
    text-decoration: none;
}

li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    color: #111010;
    display: inline;
    padding: 0.5rem 2rem 0rem 2rem;
}

ul {
    background-color: #00d5ff;
    list-style-type: none;
    margin: 0rem;
    padding: 1rem 2rem 5rem 2rem;
}

span {
    margin: 1rem;
}

.SearchOpt-Style {
    padding: 1.5rem;
    margin: 1.5rem;
    font-size: 1.5rem;
}
